#content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#fun-fact-container {
  margin-top: 20px;
}

a {
    text-decoration:none;
    color:purple;
}

.links-flexbox, .personal-info-flexbox {
    display:flex;
}
.personal-info-flexbox img {
    flex:1;
    width:50%;
    height:auto;
}
.personal-info-flexbox p {
    flex:2;
    margin-left:100px;
}

.link-item {
    flex:1;
    margin-bottom:50px;
}

